<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Modify this according to your project root location on the server
    RewriteBase /st/hw3/

    # Redirect all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
